'context-menu':
  '.platform-darwin .tree-view':
    'Show in Finder': 'show-in-system:show'
    'Open with Finder': 'show-in-system:open'
  '.platform-darwin .tab':
    'Show in Finder': 'show-in-system:show'
    'Open with Finder': 'show-in-system:open'
