'context-menu':
	'.platform-darwin .tree-view': [ {
		'type': 'separator'
	}, {
		'label': 'Show in Finder',
		'command': 'show-in-system:show'
	}, {
		'label': 'Open with default application',
		'command': 'show-in-system:open'
	}, {
		'type': 'separator'
	} ]
	'.platform-darwin .tab': [ {
		'label': 'Show in Finder',
		'command': 'show-in-system:show'
	}, {
		'label': 'Open with default application',
		'command': 'show-in-system:open'
	}, {
		'type': 'separator'
	} ]
